{% extends 'base.html' %}


<div class="container-fluid">
  {% block content %}
  <div class="row">
    <div class="col-12 d-md-none text-end">
      <button class="btn btn-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
        Mostrar sidebar
      </button>
    </div>
    <div class="col-auto col-md-3">
      <div class="offcanvas-md offcanvas-start d-md-flex flex-column flex-shrink-0 p-3 bg-light" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        {% include 'sidebar.html' %}
      </div>
    </div>

    <div class="col">
      <h2 style="padding-top: 15px;">Lista de comentários</h2><br>


      <table class="table table-bordered">
        <thead>
          <tr class="table-dark">
            <th scope="col">Comentário</th>
            <th scope="col">Tarefa</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in comments %}
          <tr>
            <td>{{comment.comment}}</td>
            <td>{{comment.task}}</td>
            <td>
              <a href="{% url 'comments:comments_edit' pk=comment.pk %}">
                <button type="button" class="btn btn-outline-primary">Editar</button>
              </a>
            </td>
            <td>
              <a href="{% url 'comments:comments_delete' pk=comment.pk %}">
              <button type="button" class="btn btn-outline-danger">Deletar</button>
            </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endblock %}
    </div>

  </div>
</div>