{% extends 'base.html' %}

<div class="container-fluid">
  {% block content %}
  <div class="row">
    <div class="col-12 d-md-none text-end">
      <button class="btn btn-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
        Mostrar sidebar
      </button>
    </div>
    <div class="col-auto col-md-3">
      <div class="offcanvas-md offcanvas-start d-md-flex flex-column flex-shrink-0 p-3 bg-light" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        {% include 'sidebar.html' %}
      </div>
    </div>
    <div class="col col-md-9">
      {% include 'popup.html' %}
      <h2 style="padding-top: 15px; overflow: hidden;">Lista de tarefas</h2><br>
      <form method="GET" action="{% url 'todo:task_list' %}">
        <input type="text" name="query_task" placeholder="Pesquisa por nome ou categorias da tarefa"
          class="form-control mb-2" style="max-width: 310px;">
        <button type="submit" class="btn btn-outline-success mb-2">Pesquisar</button>
      </form><br>

      <p>Encontramos {{number_tasks}} tarefas para você</p>
      <p>{{filtro}}</p>
      <div class="card-deck">
        {% for task in tasks %}
        <div class="card mb-4 {% if task.completed %}border-success{% endif %}">
          <div class="card-header {% if task.completed %}bg-success text-white{% else %}bg-dark text-white{% endif %}">
            <div class="d-flex justify-content-between">
              <span>{{ task.title }}</span>
              <span style="display: flex;gap: 5px;">
                <span>Completar tarefa</span>
                <input data-task-id="{{ task.pk }}" class="form-check" type="checkbox" id="flexSwitchCheckChecked" {% if task.completed %}checked{% endif %}>
              </span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Descrição</h5>
            <p class="card-text">{{ task.description }}</p>
            <h5 class="card-title">Categoria</h5>
            <p class="card-text">{{ task.category }}</p>
            <h5 class="card-title">Data de Criação</h5>
            <p class="card-text">{{ task.created_at }}</p>
            <h5 class="card-title">Data Completo</h5>
            <p class="card-text">{% if task.completion_date == None %}Não foi completo{% else %}{{ task.completion_date }}{% endif %}</p>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <a href="{% url 'todo:task_edit' pk=task.pk %}">
                <button type="button" class="btn btn-outline-primary">Editar</button>
              </a>
              <button type="button" class="btn btn-outline-danger btn-delete" data-task-id="{{ task.pk }}" data-task-name="{{ task.title }}" is-completed="{% if task.completed %}true{% else %}false{% endif %}">
                Deletar
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
      <hr>
    </div>
  </div>
</div>

<script>

function alterfilter(header) {
    // Adiciona a classe 'blink' para fazer o header piscar
    header.classList.add('blink');

    // Remove a classe 'rotate-down' de todos os headers, exceto o atual
    document.querySelectorAll('.filter-header').forEach(function(el) {
        if (el !== header) {
            el.classList.remove('rotate-down');
        }
    });

    // Remove a classe 'blink' após 1 segundo
    setTimeout(function() {
        header.classList.remove('blink');
    }, 1000);

  const filter = header.getAttribute('data-field')
  fetch(`https://richardataliba929.pythonanywhere.com/alterfilter/${filter}`, {
      method: 'GET',
    })
      .then(response => response.json())
      .then(data => {
        window.location.reload();
      })
      .catch((error) => {
      });
}

function exibirpopup() {
  const task_id = this.getAttribute('data-task-id');
  const task_name = this.getAttribute('data-task-name');
  const task_complete = this.getAttribute('is-completed');

  document.getElementById("myPopup").style.display = "block";

  // pega o id da task e seta como atributo do elemento popup
  document.getElementById("myPopup").setAttribute('data-task-id',task_id);
  document.getElementById("myPopup").setAttribute('data-task-name',task_name);
  document.getElementById("myPopup").setAttribute('is-complete',task_complete);
}

function closePopup() {
  document.getElementById("myPopup").style.display = "none";
}

document.querySelectorAll(".btn-delete").forEach(button => {
    button.addEventListener("click", exibirpopup);
});

function deletetask() {

    const id_task = document.getElementById('myPopup').getAttribute('data-task-id')
    const name_task = document.getElementById('myPopup').getAttribute('data-task-name')
    const complete_task = document.getElementById('myPopup').getAttribute('is-complete')

    if (complete_task === "true") {
      alert('A tarefa '+String(name_task)+ " não pode ser removida porque é uma tarefa completa")
    }

    fetch(`https://richardataliba929.pythonanywhere.com/altertask/delete/${id_task}`, {
      method: 'GET',
    })
      .then(response => response.json())
      .then(data => {
        window.location.reload();
      })
      .catch((error) => {
      });
}

// Função de completar task
function alter(event) {
    const checkbox = event.target;
    const id_task = checkbox.getAttribute('data-task-id')

    fetch(`https://richardataliba929.pythonanywhere.com/altertask/completed/${id_task}`, {
      method: 'GET',
    })
      .then(response => response.json())
      .then(data => {
        window.location.reload();
      })
      .catch((error) => {
      });
      closePopup()
}

document.querySelectorAll('.form-check').forEach(checkbox => {
    checkbox.addEventListener('change', alter);
});

</script>
{% endblock %}
