<!-- sidebar.html -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width:300px; height: 95vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Bem vindo, {{user}}</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'todo:task_list' %}"
                class="nav-link {% if request.resolver_match.url_name == 'task_list' %}active{% else %}link-dark{% endif %}"
                aria-current="page">
                Minha lista de tarefas
            </a>
        </li>
        <li>
            <a href="{% url 'category:category_list' %}"
                class="nav-link {% if request.resolver_match.url_name == 'category_list' %}active{% else %}link-dark{% endif %}">
                Minha lista de categorias
            </a>
        </li>
        <li>
            <a href="{% url 'comments:comments_list' %}"
                class="nav-link {% if request.resolver_match.url_name == 'comments_list' %}active{% else %}link-dark{% endif %}">
                MInha lista de comentários
            </a>
        </li>
        <li>
            <a href="{% url 'comments:comments_create' %}" class="nav-link link-dark">
                Criar novo comentário 
            </a>
        </li>
        <li>
            <a href="{% url 'category:category_create' %}" class="nav-link link-dark">
                Criar nova categoria
            </a>
        </li>
        <li style="padding-bottom: 30px;">
            <a href="{% url 'todo:task_create' %}" class="nav-link link-dark">
                Criar nova tarefa
            </a>
        </li>
        <button type="button" class="btn btn-outline-info" id="btn-signout"> Sair do usuário  </button>
    </ul>
    <hr>

</div>

<script>
    function changepag() {
        window.location.href = '/accounts/singout';
    }
    btn = document.getElementById('btn-signout').addEventListener('click', changepag)
</script>