{% extends 'base.html' %}


<div class="container-fluid">
  {% block content %}
  <div class="row">

    <div class="col-auto">
      {% include 'sidebar.html' %}
    </div>

    <div class="col">
      <h2 style="padding-top: 15px;">Lista de categorias</h2><br>


      <table class="table table-bordered">
        <thead>
          <tr class="table-dark">
            <th scope="col">Nome</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody>
          {% for categoria in categorias %}
          <tr>
            <td>{{categoria.name}}</td>
            <td>
              <a href="{% url 'category:category_edit' pk=categoria.pk %}">
                <button type="button" class="btn btn-outline-primary">Editar</button>
              </a>
            </td>
            <td><a href="{% url 'category:category_delete' pk=categoria.pk %}">
              <button type="button" class="btn btn-outline-danger">Deletar</button>
            </a>
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endblock %}
    </div>

  </div>
</div>