{% extends 'base.html' %}


<div class="container-fluid">
  {% block content %}
  <div class="row">

    <div class="col-auto">
      {% include 'sidebar.html' %}
    </div>

    <div class="col">
      <h2 style="padding-top: 15px;">Lista de categorias</h2><br>


      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for categoria in categorias %}
          <tr>
            <td>{{categoria.name}}</td>
            <td>
              <a href="{% url 'category:category_edit' pk=categoria.pk %}">
                Editar
              </a>
            </td>
            <td><a href="{% url 'category:category_delete' pk=categoria.pk %}">Remover</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endblock %}
    </div>

  </div>
</div>